<h2> Looking for your books, Author?? </h2>

<div style="margin-left: 85%; margin-top: -50px">
  <%= link_to "Assign Tags", assign_tags_path, class: "btn btn-info" %>
</div>

<h3> Look down you already viewing your books, Mamamiyah</h3>

<br> <br>
<%= render 'table' %>